* { 
    /* border: blue solid 1px; */
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box; 
}

.container { margin: 0 auto; 
            padding: 0 20px;
            max-width: 1200px;
            width: 100%;

}

body { 
   max-width: 1450px;
   
   
}
main { background-color: #404040; 

} 
.block1 { 
    background-image: url(image/image\ 20.png); 
    /* height: 763px;  */
    background-repeat: no-repeat; 
    width: 100%; 
}
.block1_1 { background: linear-gradient(180deg, rgba(30, 30, 30, 0.76) 0%, #000000 100%);
    opacity: 0.4; height: 649px;  

}
header {   
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
      
      display: flex; 
      align-items: center; 
       
       z-index: 1;

}

.logo { 
    /* size: 260px 66px;   
    margin-left: 137px;  */
    /* margin-bottom: 22px;
    margin-top: 26px; 
    margin-right: 69.75px;    */
    margin: 0;
}
#burger, [ for=burger] {
    display: none;
}
.menu { 
       
        /* margin-right: 85.31px; */
  }
  .menu ul {
    display: flex;
    list-style: none; opacity: 0.7;
    
  }
  .menu li { 
        margin-right: 30px; 
        opacity: 0.7; 
        text-align: center; 
        font-size: 18.13px; 
        font-weight: 600; 
        line-height: 23.42px; 
        text-align: center; 
       
  }

  /* .menu li:last-child {
    margin-left: 85.31px; opacity: 1; border: solid red 1px; 
} */

.menu a { color: #FFFFFF;
    text-decoration: none;
   
}

#aplic {  text-decoration: none; font-weight: 700;
    font-size: 18.1289px;
    line-height: 129.19%;
    color: #ffffff;
    opacity: 0.7; 
    margin: 0;

}
/* .apllic { margin-left: 85.31px; font-size: 18.1289px; line-height: 129.19%;  color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700; 
    line-height: 23px;
    letter-spacing: 0em;
    text-align: right; display: inline-block;
    }

.apllic a  {color: #FFFFFF;
    text-decoration: none;} */
.offer {  
    padding-top: 162px; 
    /* margin-right: 66px; 
    margin-left: 67px;   */
    font-weight: 700;
    font-size: 45.3221px;
    line-height: 129.19%;
    text-align: center;
    color: #ffffff;

}
.pay { 
    
    padding-top: 23.76px;
    /* margin-right: 191.26px;
    margin-left: 190px; */
    text-align: center; 
    font-weight: 600;
    font-size: 20.395px;
    line-height: 26px;
    color: #FFFFFF;

}
.play p { font-style: normal;
    font-weight: 600;
    font-size: 20.395px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
 
.info { display: flex; 
        justify-content: center; 
        align-items: center;
        white-space: nowrap;
        padding-bottom: 205px;
        padding-top: 36.38px;
   
}
.offer1 { 
    /* width: 259.47px; */
    height: 60.78px;
    /* margin-left: 454px; */
    /* margin-top: 36.38px;  */
   
   margin: 0;
    background: #FFFFFF; 
}
.offer1 p {
font-weight: 700;
font-size: 18.1289px;
line-height: 22px;
text-align: center;
color: #000000;
text-align: center;
margin: 18px 30px 19px 29px;

}
.learn {
/* width: 249.27px; */
/* height: 61.18px; */
margin-left: 28.33px;
/* margin-top: 36.38px; */
/* margin-right: 460px; */
margin-right: 0;

}
.learn  p {
    font-weight: 700;
    font-size: 18.1289px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
/* .chat {
    position: absolute;
width: 83px;
height: 83px;
left: 1321px;
top: 620px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
backdrop-filter: blur(2px); border-radius: 45px;
}
.chat img { 
    width: 40px;
    height: 40px;
   background-color: #FFFFFF; 
   margin: 21px 21px 22px 22px;  backdrop-filter: blur(2px); border-radius: 45px;
    
} */
.block2 { background-image: url(image/Rectangle\ 62.png);   

    /* padding-left: 116px; 
    padding-right: 25px */
     
}   
.about { 
    /* height: 1150px;  */
    /* margin: 0px 38px 540px 132px;  */
    padding-top: 45px; 
    padding-bottom: 105px;
    
   
}
.comp {  display: flex; justify-content: center;
}
.iphon { margin: 0;


}
#iphon { 
    /* width: 507px; */
    /* height: 610px; */
    margin-right: 96px;
    /* margin-left: 30px; */
   
}
.about1 { margin: 0;

}
.about2 {
    font-weight: 700;
    font-size: 45px;
    line-height: 129.19%; 
    color: #FFFFFF;
    padding-top: 160px;
    padding-bottom: 23px    ;
}
.about3 {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    margin: 0px ;

color: #FFFFFF;
}
.about4 { font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 2px;

}
.options {
            /* height: 430.86px;  */
            padding-top: 109.14px; 
            display: flex; align-items: center;
        
}
.options1 {
    /* height: 411px;  */
    /* width: 567px;  */
   
}
.options1 p {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF;
    margin-top: 0px;
}
.options2 {
    display: flex;
    align-items: center;
    margin-bottom: 39px;
   
}
.options2 img { 
    /* width: 19px;
    height: 19px; */
    margin-right: 23px;
    margin-left: 0;
}
.options2 p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 0px;
}
.options3 {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.options3 img { 
    /* width: 19px;
    height: 19px; */
    margin-right: 23px;
    margin-left: 0;
}
.options3 p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 0px;
}
.options4 {
    display: flex;
    align-items: center;
   
}
.options4 img { 
    /* width: 19px;
    height: 19px; */
    margin-right: 23px;
    margin-left: 0;
}
.options4 p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 0px;
}
.options5 { display: flex; align-items: center;  padding-top: 54px; 

 }
.options6 {
    width: 202.91px;
    height: 53px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
    border-radius: 20px;  
    text-align: center; 
    margin-right: 38.27px;
   
    margin-left: 0;

}
.options7  {

font-weight: 700;
font-size: 16px;
line-height: 157.4%;
color: #FFFFFF;
text-decoration: none;
}
.btn {margin: 13.56px 20.73px 13.56px 21.25px;
}
.options5 p {
    font-weight: 700;
font-size: 16px;
line-height: 157.4%;
text-align: center;
color: #FFFFFF;
margin: 0px;
}
.macbook { margin-left: 33.6px;  position: relative; 

}
#maps { position: absolute; left: 65px; bottom: 45px; 
    /* width: 80%; */
}
.block3 {  
    background-image: url(image/image\ 263.png); background-repeat: no-repeat;
    padding-bottom: 90px;

}
.block3 p {
    font-weight: 700;
    font-size: 45px;
    line-height: 129.19%;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding-top: 66px;
}
.advantages { 
    margin: 25px 105px 5px 105px;  
    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
backdrop-filter: blur(6px); 
border-radius: 42px;

}
.advantages1 {    padding: 54px 40px 44px 39px;
}
.fraim {
     display: flex; justify-content: space-between;
}
.fraim_1 {width: 64px;
        height: 64px;
        background: #2BE3A0;
        box-shadow: 0px 17px 17px rgba(43, 227, 160, 0.28);
        border-radius: 12px; 
        margin-top: 54px; 
        margin-left: 78px;
}
.fraim1 p { font-size: 16px;
    line-height: 157.4%;
    text-align: center;
    color: #FFFFFF;
    width: 236px;
    height: 50px;
    padding: 0;
   
}
.fraim_1 img {
    margin: 14px 14px 14px 14px;
}
.fraim2 p { font-size: 16px;
    line-height: 157.4%;
    text-align: center;
    color: #FFFFFF;
    width: 236px;
    height: 50px;
    padding: 0;
   
}
.fraim_2 {width: 64px;
        height: 64px;
        background: #2BE3A0;
        box-shadow: 0px 17px 17px rgba(43, 227, 160, 0.28);
        border-radius: 12px; 
        margin-top: 54px; margin-left: 78px;
     
}
.fraim_2 img { position: relative;
    top: -9px; left: 15px;
}

.fraim_3 {width: 64px;
        height: 64px;
        background: #2BE3A0;
        box-shadow: 0px 17px 17px rgba(43, 227, 160, 0.28);
        border-radius: 12px; 
        margin-top: 54px; margin-left: 78px;
}
.fraim3 p { font-size: 16px;
    line-height: 157.4%;
    text-align: center;
    color: #FFFFFF;
    width: 236px;
    height: 50px;
    padding: 0;
}
.fraim_3 img { margin: 14px;
}

.fraim {
     display: flex; justify-content: space-between;
}
.fraim_4 {width: 64px;
        height: 64px;
        background: #FFBF44;
        box-shadow: 0px 17px 17px rgba(255, 191, 67, 0.28);
        border-radius: 12px;
        margin-top: 54px; 
        margin-left: 78px;
}
.fraim_4 img { margin: 14px;
}
.fraim_5 {width: 64px;
        height: 64px;
        background: #FFBF44;
        box-shadow: 0px 17px 17px rgba(255, 191, 67, 0.28);
        border-radius: 12px;
        margin-top: 54px; margin-left: 78px;
}
.fraim_5 img {
    margin: 14px;
}

.fraim_6 {width: 64px;
        height: 64px;
        background: #FFBF44;
        box-shadow: 0px 17px 17px rgba(255, 191, 67, 0.28);
        border-radius: 12px;
        margin-top: 54px; margin-left: 78px;
}

.fraim_6 img { margin:14px

}

.fraim ul  { display: flex;
    list-style: none;
}

.block4 { 
        background-image: url(image/image\ 263_1.png);
        padding-bottom: 81px;
}
.block4 p {font-weight: 700;
        font-size: 45px;
        line-height: 54px;
        text-align: center;
        color: #FFFFFF; 
        margin: 0;
        padding-top: 102px;
}

.review { 
    /* margin: 55.77px 80.77px 138.27px 70.85px;  */
    /* height: 502.97px; */
    margin-top: 56px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
backdrop-filter: blur(6px); 
border-radius: 42px; display: flex;  align-items: center; justify-content: center;


}
.review1 { margin: 0;
    margin-right: 80px;
     padding-top: 68px;

}
.review_1 {  
            /* width: 613.23px;  */
           
            
            margin: 0;

}
#review { font-weight: 600;
    font-size: 16px;
    line-height: 131%;
    color: #FFFFFF;
    text-align: left;
   padding: 0;
   margin-bottom: 34.53px;
   max-width: 410px;
}
#name { font-style: normal;
    font-weight: 700;
    font-size: 18.125px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 0;
    text-align: left;


}
#driver { font-weight: 600;
        font-size: 18.125px;
        line-height: 22px;
        color: #FFFFFF;
        opacity: 0.5;
        padding: 0;
        text-align: left;
        margin-bottom: 6.81px;

}

.btn_1 { text-align: center;
    /* margin-left: 159.73px; */
    padding-bottom: 51px;
}
#btn_prev {
    margin-right: 22.66px; 
}
.block5 {
    background: url(image/image\ 262.png);  padding-top: 85px; 
}
.requir_main {
    /* width: 1300px; */
   
    padding-bottom: 29px;
   

}
.requir { display: flex; justify-content: space-between; align-items: center;
            padding-top: 3px; padding-bottom: 30px;}
#rec {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
   margin: 0;
    margin-bottom: 3px;
    padding: 0;
}
.boll img {
    /* width: 322px;
    height: 318.69px; */
   
animation: animed2 1.0s infinite; 
}
@keyframes animed2
 {from {transform: rotate(0deg); }
  to {transform: rotate(360deg)}}
  
.car { position: relative; 
    /* width: 601px;
    height: 394px;  */

}
  .uber {
    width: 601px;
    height: 394px;
    position: absolute; bottom: -97px; animation: none; 
}
.light {  
    position: absolute; 
    left: 310px;
   bottom: 35px;
    animation: animation1 1s infinite; 
   
}
.light_1 { 
    position: absolute; 
    left: 547px;
    bottom: 85px;
   
    animation: animation1 1s infinite;
   
}
@keyframes animation1 {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
    }


  .boll_car { 
    margin-right: 113px; 
    margin-left: 0;
    margin-right: 0;
}
  .requir1 { margin: 0;}
  .requir2 { 
    padding-top: 75px; 
    display: flex; 
    justify-content: flex-start; padding-bottom: 40px;

}
  .requir2 img { 
                margin-left: 0;
                margin-right: 36px;
                width: 19px;
                height: 19px; 
   
}
  .requir2 P { 
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF; 
    margin: 0; 
    padding: 0;

}
.requir3 { display: flex; justify-content: flex-start; padding-bottom: 20px;}
.requir3 img {
                width: 19px;
                height: 19px; 
                margin-right: 36px;
                margin-left: 0;
            }
    
.requir3 p { font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF; margin: 0; padding: 0;

}
    .requir4 {display: flex; justify-content: flex-start;}
    .requir4 img { width: 19px;
        height: 19px; margin-right: 36px;
        margin-left: 0;
        margin-bottom: 41px;
    }
    .requir4 p { font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF; margin: 0; padding: 0;
    }
.aplic1 { display: flex; justify-content: space-between;

}    

.invit_main { background-image: url(image/image\ 21.png);   
            background-repeat: no-repeat;  
            padding-top: 85px; 
            padding-bottom: 80px; 
            display: flex; 
            justify-content: center;  
}
.invit {
     border: solid yellow 1px; margin-left: 0; margin-right: 50px;
     height: 185px;
     
}
#invit {font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    margin: 0; padding: 0;
}
#invit_1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 0; padding: 0;
    margin-top: 30px;
}
.form { margin: 0;
  
}
.name2 {width: 343px;
    height: 50px;

}
.name2  { font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
    opacity: 0.6;
    margin-bottom: 18px;
    backdrop-filter: blur(2px);
    
   

}
.tel1 { width: 343px;
    height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.6;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), rgba(0, 0, 0, 0.3);
    margin-bottom: 18px;
    backdrop-filter: blur(2px);


}
#input { width: 343px;
    height: 50px;
    background: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;

}
#work {font-weight: 700;
        font-size: 45px;
        line-height: 54px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 130px;
        padding-bottom: 32px;
}
.block6 { width:70%; height:400px;

    /* background-image: url(image/image\ 251.png); height: 500px; */
}

.contact {
    background: url(image/Rectangle\ 63.png) ; 
}
.contact1 { display: flex; justify-content: space-between; align-items: center;
    margin-bottom: 71px;

}
#cont1 {font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #FFFFFF;
    margin-left: 0;
    margin-right: 0;
    /* margin: 48px 42px 71px 132px; */
    /* width: 474px;
    height: 67px; */
}
#cont2 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.4; 
    margin: 0;
   
    /* margin-bottom: 82px;
    margin-right: 43px; */
    /* width: 569px;
    height: 27px; */

}
#logo1 {
    width: 54px;
    height: 100.74px;
    margin-top: 3.26px;
    margin: 0;

}
.contact2 { display: flex; margin-bottom: 76px; justify-content: space-between;

}
.contact2_1 {
                margin: 0;
                text-align: center;

}
.conta { margin: 0;

}
.phone a { font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    /* margin-left:  132px ;
    margin-right: 274px; */
    margin-bottom: 8px;
    margin-top: 0;
    text-align: center;
}
.phone { text-align: center;

}
.phone a {  text-decoration: none;

}
.phone1 { font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;   
    text-align: center;
    margin: 0;
}
#mesenger { font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.4;
    /* margin-left: 132px; */
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    margin-left: 0;
}
#teleg {font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    margin-left: 0;
    margin-right: 0;
}
footer { 
    background-color: #1E1E1E;  border: solid red 1px;

}
.foot{
    display: flex; align-items: center; justify-content: space-between;
    margin-bottom: 78px;
}
.menu1 {padding-top: 62px; margin: 0;

}

.menu1 ul { display: flex;  list-style: none; padding: 0; margin: 0;

}
.menu1 a { text-decoration: none; 
    font-weight: 600;
    font-size: 18.1289px;
    line-height: 129.19%;
    color: #FFFFFF;

}
.menu1 li {
    margin-right: 30px; 
}
.logo_foot {display: flex; margin: 0;

}
#logo_f1 { width: 66px;
          height: 112.37px;
}
#logo_f2 { width: 177px;
            height: 45px;
            margin-left: 17px;
            margin-top: 54px;
}
#copir { font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.4;
    margin: 0;
    

}
#teleg1 { width: 28px;
        height: 33px; margin: 0;

}
.menu_2 { display: flex; align-items: center; margin: 0;

}

.menu2 { display: flex; justify-content: space-between;

}
.menu2 p {  font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.4;


}
#inst { margin: 0;

}
#polit { margin: 0;
        display: inline-block;
        /* margin-top: 77.74px;
        margin-right: 16px; */
       
       
}
#agre { 
    margin: 0;
}



#teleg1 { 
      


}
#inst { width: 21px;
height: 21px;} 
.teleg_inst_main { display: flex;

}    
.teleg_inst {display: flex; justify-content: center;  align-items: center; margin: 0;}

.pol_ag {margin: 0; display: flex;}
#polit {margin-right: 16px;}




@media (max-width:1150px) {

[ for=burger] {
    display: block;
    position: absolute;
    right: 22px;
    top: 20px;
}
.menu { display: none; 

}
header { position: relative;
    
}
#burger {
    position: fixed;
}
#burger:checked + label + .menu {
    display: block;
}
 .menu ul { display: block;
    /* position: fixed; */
 }
 
 #aplic {
    display: none;
 }

 .logo { margin-left: 25px;
 }
.options {
        flex-direction: column;
justify-content: center;
}

.options1 {align-items: center; 
    height: 411px;
    width: 567px;
    margin-bottom: 50px;
}

.comp {
    flex-direction: column; 
    align-items: center;
    
    
}
.about1 { order: 1; margin-bottom: 66px;
}
.about2 { padding-top: 0;

}
.iphon { order: 2;

}
.macbook { margin-left: auto; } 


.advantages1 {display: flex;}
.fraim {flex-direction: column;}
.review {flex-direction: column; align-items: center;}
.review1 {margin: 0; padding-bottom: 26px;}
.btn_1 {display: none;}
#review {max-width: 800px; margin-bottom: 15px;}
.review_1 {margin-bottom: 60px; }
.requir {flex-direction: column; align-items: start; margin-left: auto; margin-right: auto; }
.requir1 {order: 1; margin-bottom: 20px;}
.boll_car {order: 2;}
.car {margin: 0px;}
.aplic1 {display: block;}
.invit_main {flex-direction: column;  }
.invit { margin-bottom: 44px; }
.contact1 { flex-direction: column; margin-bottom: 74px; }
#logo1 {display: none;}
.contact2 { flex-direction: column; text-align: center;}
.conta { margin-bottom: 37px;}
.menu1 { display: none;}
.menu2 { flex-direction: column;  text-align: center; }
.menu_2  {flex-direction: column  ; flex-direction: center; order: 2; }
.pol_ag { flex-direction: column; order: 1; margin-bottom: 33px;}
.foot {flex-direction: column; margin-bottom: 17px;}
#copir {order: 2;}
.teleg_inst { order: 1;}
.teleg_inst_main { flex-direction:column; margin:  0;} 
}








